<!DOCTYPE html>

<head>
    <title>GeoJSON + Flask</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>

<body>
    
    <div id="map" style="height: 100vh;"></div>

    <script>

var map = L.map('map').setView([52.25, 17.05], 12);
var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/light-v10',
    accessToken: 'pk.eyJ1Ijoicm9iZXJ0ayIsImEiOiJjaWs5Z3k1ejgwOTY4djltNDV5N2NjaWwzIn0.6Htqjxd5Knc5rZQ7vOpkNw'
}).addTo(map);

    url="http://localhost:5000/geojson-roads";
    $.getJSON(url,function(data){ 
	        var roads=L.geoJSON(data,{
	        style: {
		        "color": "#a3a375",
		        "weight": 2,
		        "opacity": 0.65
	        },
	        onEachFeature: function(feature, layer) {
	layer.bindPopup(feature.properties.fclass);
	}
	});
	roads.addTo(map);
	});
	
	url2="http://localhost:5000/geojson-water";
    $.getJSON(url2,function(data){ 
	        var water=L.geoJSON(data,{
	        style: {
		        "color": "#8080ff",
		        "opacity": 0.65
	        },
	        onEachFeature: function(feature, layer) {
	layer.bindPopup(feature.properties.fclass);
	}
	});
	water.addTo(map);
	});
	
	

    </script>

</body>

</html>
